@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Ubuntu';
  color: white;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-weight: normal;
}

body {
  display: grid;
  grid-template: 100px 1fr / 400px 1fr 400px;
  height: 100vh;
  background-color: #292524;
}

header {
  grid-column: 1/4;
  background-color: #292524;
  border-bottom: 2px solid #44403c;
  display: flex;
  align-items: center;
  padding: 20px
}

.projects {
  grid-row: 2/3;
  border-right: #44403c 2px solid;
  background-color: #292524;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px
}

.project-wrapper {
  border-radius: 10px;
  border: 2px #44403c solid;
  border-left: #a21caf 10px solid;
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}

.todos {
  grid-row : 2/3;
  background-color: #292524;
  display: flex;
  flex-direction: column;
  gap:20px;
  align-items: center;
  padding: 20px;
}

.todo-container {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo-wrapper {
  --low: #15803d;
  --medium: #eab308;
  --high: #991b1b;
  border-radius: 10px;
  border: 2px #44403c solid;
  border-left: var(--medium) 10px solid;
  display: flex;
  align-items: center;
  padding-right : 10px;
}

.due-date {
  margin-left: auto;
  margin-right: 10px
}

.add-todo {
  border-left: #44403c 2px solid;
  padding: 20px;
}

.add-todo-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input, form select {
  border-radius: 10px;
  height: 40px;
  padding: 10px;
  border: #44403c 2px solid;
  background-color: inherit;
}

#description {
  height: 500px;
}

[value='submit'] {
  background-color: #15803d;
  border: none;
  margin-top: 10px;
}

.delete-button {
  position: relative;
  z-index: 100;
}